<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <!-- <img src="{{ url_for('static', filename='dog.png') }}" class="icon" /> -->
  <h3>친구의 별명을 만들어줘✨</h3>
  <form action="/" method="post">
    <input type="text" name="characteristic" placeholder="친구의 특징을 입력해주세요." required />
    <input type="submit" value="별명 만들기🔮" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
